#tableWrapper {

    position: relative;
}
#table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;

}
#table thead td, #table thead th {
    border: 1px solid #ddd;
    padding: 8px;
}
#table tbody td, #table tbody th {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 8px;
}
/*#table tr:nth-child(even){background-color: #373737;}*/

#table tr:hover {background-color: #373737;}

#table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #2c2c2c;
    color: white;
}

