.toolTip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
.toolTip .toolTipText {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
}
.toolTip:hover .toolTipText {
    visibility: visible;
}
.toolTip .Top .toolTipText::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border: 5px solid transparent;
    border-top-color: black;
}
.toolTip .Bot .toolTipText::after {
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border: 5px solid transparent;
    border-bottom-color: black;
}
.toolTip .Left .toolTipText::after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 100%; /* To the right of the tooltip */
    margin-top: -5px;
    border: 5px solid transparent;
    border-left-color: black;
}
.toolTip .Right .toolTipText::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%; /* To the left of the tooltip */
    margin-top: -5px;
    border: 5px solid transparent;
    border-right-color: black;
}
